H1 {
  font-wight: bold;
  color: maroon;
  font-size: 50px;
}

H2,H3,H4 {
  color: maroon;
  font-size: 25px;
}

.container {
  display: flex;
}

.main {
  width: 65%;
}

.sidebar {
  width: 33%;
  padding: 1%;
  background: rosybrown;
}

img {
  height: 30%;
  border-radius: 10%;
